<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <title>ATM Security</title>
</head>
<body>
  <h1>Record Details</h1>
  <div class="details">
    <div class="aadhar-details">
      <h2>Aadhar Details:</h2>
      <p>1234 1234 1234</p>
    </div>
    <div class="score-details">
      <h2>Suspicion Score:</h2>
      <p>{{ data }}</p>
    </div>
    <div class="specific-details">
      <h2>Specific Details:</h2>
      <p>Weapon Score: {{ token }}</p>
      <p>Face Detect Score: {{ token1 }}</p>
      <p>Wrong Pin Score: {{ count }}</p>
    </div>
  </div>
</body>
</html>


